.item-wrapper {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #242424;
  color: rgb(255, 255, 255);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  padding: 5px;
  box-sizing: border-box;
  min-width: 250px;
}
.item-header {
  text-align: center;
  margin: 10px;
}
.item-property-wrapper {
  margin: 10px 0;
  display: flex;
  justify-content: flex-start;
}

.item-property-name {
  font-weight: 600;
  margin-right: 5px;
}

.item-property-value {
  font-weight: 500;
}
