.input-wrapper {
  position: relative;
  display: flex;
}
.toggle-button {
  position: relative;
  background: transparent;
  border: none;
  width: 20px;
  height: 20px;
  padding: 0;
}
.toggle-button img {
  width: 100%;
  height: 100%;
}
.countries-wrapper {
  position: absolute;
  top: 40px;
  padding: 0px;
  margin: 0px;
  width: 250px;
  background: white;
  overflow: auto;
  max-height: 0;
  border: 1px solid black;
  visibility: hidden;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.countries-wrapper.visible {
  visibility: visible;
  display: block;
  max-height: 200px;
}
