.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid black;
  height: 40px;
}
.git-link {
  display: flex;
  align-items: center;
}
.footer img {
  height: 30px;
}