input[type="file"] {
  font-size: 18px;
  text-align: end;
}
input[type="file"]::file-selector-button {
  display: block;
  margin-bottom: 10px;
  border-radius: 3px;
  border: 2px solid transparent;
  padding: 5px;
  font-size: 18px;
  font-weight: 500;
  font-family: inherit;
  color: rgb(255, 255, 255);
  background-color: #1a1a1a;
  cursor: pointer;
}
input[type="file"]::file-selector-button:hover {
  color: rgb(158, 158, 158);
  background-color: #5f5e5e;
}
.image-wrapper {
  margin-top: 20px;
  max-width: 250px;
  max-height: 500px;
}
.image-wrapper img {
  max-height: 500px;
  max-width: 200px;
  object-fit: contain;
}
.hide {
  display: none;
}

